# Config for nRF52840 DK builds
# Use with: cargo build --config .cargo/config-dk.toml

[target.'cfg(all(target_arch = "arm", target_os = "none"))']
runner = "probe-rs run --chip nRF52840_xxAA"
rustflags = [
    '-C', 'target-cpu=cortex-m4',
]

[build]
target = "thumbv7em-none-eabihf"

[env]
DEFMT_LOG = "trace"
BOARD = "dk"

[patch.crates-io]
minicbor = { git = "https://github.com/Abrahamh08/minicbor" }
minicbor-derive = { git = "https://github.com/Abrahamh08/minicbor" }

[patch."https://github.com/odysseyarm/protodonge-rs"]
protodongers = { path = "../../protodonge-rs" }
