// Memory layout for nRF5340 (atslite1)

vars {
    page_size "4K"
    app_flash_size "348K"      // 0x057000 (aligned)
    app_dfu_flash_size "352K"  // 0x058000 = app + 4K (aligned)
}

regions {
    flash origin=0x0000_0000 length="1M" {
        bootloader       origin=0x0000_0000 length="24K"
        bootloader_state origin=0x0000_6000 length="page_size" align="page_size"
        app_flash        origin=0x0000_7000 length="app_flash_size" align="page_size"
        dfu              origin=0x0005_E000 length="app_dfu_flash_size" align="page_size"
        settings         origin=0x000B_6000 length="28K" align="page_size"
    }

    ram origin=0x2000_0000 length="512K" {
        low_ram  origin=0x2000_0000 length="256K"
        high_ram origin=0x2004_0000 length="256K" {
            icmsg_rx origin=0x2007_0000 length=0x2000
            icmsg_tx origin=0x2007_8000 length=0x2000
        }
    }

    netcore_flash origin=0x0100_0000 length="256K"
    netcore_ram   origin=0x2100_0000 length="64K"
}

symbols {
    __bootloader_state_start  "flash.bootloader_state.origin"
    __bootloader_state_end    "flash.bootloader_state.end"
    __bootloader_active_start "flash.app_flash.origin"
    __bootloader_active_end   "flash.app_flash.end"
    __bootloader_dfu_start    "flash.dfu.origin"
    __bootloader_dfu_end      "flash.dfu.end"
    __settings_start          "flash.settings.origin"
    __settings_end            "flash.settings.end"
    __icmsg_tx_start          "ram.high_ram.icmsg_tx.origin"
    __icmsg_tx_end            "ram.high_ram.icmsg_tx.end"
    __icmsg_rx_start          "ram.high_ram.icmsg_rx.origin"
    __icmsg_rx_end            "ram.high_ram.icmsg_rx.end"
}
